name: reviewdog
on: [pull_request]

permissions:
  contents: read
  checks: write
  pull-requests: write
  issues: write

jobs:
  actionlint:
    name: runner / actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: actionlint
        uses: reviewdog/action-actionlint@v1

  rpmlint:
    name: runner / rpmlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: rpmlint
        uses: shogo82148/actions-rpmlint@v0
        with:
          rpmlint_flags: rpmbuild/SPECS/h2o.spec
